﻿@model Product_Core.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>


<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            <p>$ @Html.DisplayFor(model => model.Price) </p>
</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
