﻿@model Product_Core.Models.Product

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalles del</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            <p>$ @Html.DisplayFor(model => model.Price) </p>
</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Prodid}) |
    <a asp-action="Index">Regresar</a>
</div>
