﻿@model IEnumerable<Product_Core.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Tienda de la esquina</h1>

<p>
    <a asp-action="Create">Agregar producto</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <input type="search" placeholder="Ingresa el nombre del producto..." name="empSearch"
               value="@ViewData["GetProdDetails"]" style="width:600px" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prodid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrip)
            </th>
            <th> 
                @Html.DisplayNameFor( model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prodid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrip)
            </td>
            <td>
                <p>$  @Html.DisplayFor(modelItem => item.Price) </p>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Prodid }, new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Detalles", "Detail", new { id = item.Prodid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Prodid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
